{% load staticfiles %}
{% load i18n %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>amazura -- Coming soon</title>
    
    <!--css-->
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/coming.css" %}">
    
    
</head>
<body>
    
    <!--navbar item -->
    <nav class="navbar navbar-light fixed-top" >
        <div class="container" >
            <a href="#" class="navbar-brand">
                <img src="{% static "img/logo4.png" %}" alt="">
            </a>
            
        </div>
    </nav>
    
    <!--section -->
    
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" >
         
         <div id="main" class="text-center" >
         
         <div id="headline">
         
          <div id="slide" >       
              <h3 style="color: aliceblue;">A Qualidade Começa na Sua Escolha</h3>
              <h2 class="massa"> <span id="massa-prime">AMAZURA</span> MASSAGEM</h2>
             <!-- <button class="btn btn-outline-light btn-lg">VIEW DEMO</button>
              <button class="btn btn-primary btn-lg">Get Started</button> -->
                
            </div>
       
            <!-- countdown -->
            <div class="container">
                <div class="row text-center" id="clockdiv">
                    <div class="col-sm-12 col-md-3 countdown" >
                       <h1 class="days"></h1>
                        <p>Dias</p>
                        <hr class="my-4">
                    </div>
                    <div class="col-sm-12 col-md-3 countdown" >
                       <h1 class="hours"></h1>
                        <p >Horas</p>
                        <hr class="my-4">
                    </div>
                    <div class="col-sm-12 col-md-3 countdown" >
                       <h1 class="minutes"></h1>
                        <p >Minutos</p>
                        <hr class="my-4">
                    </div>
                    <div class="col-sm-12 col-md-3 countdown" >
                       <h1 class="seconds"></h1>
                        <p >Segundos</p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
     
            <!--video -->

            <div class="video-wrap">
                <video poster="{% static 'img/explore-poster.jpg' %}" preload muted autoplay loop id="video-background">
                <source src="{% static "videos/vid2.mp4" %}" type='video/mp4' />
                <source src="{% static "videos/vid2.ogv" %}" type="video/ogg"/>
                <!-- <source src="{% static 'videos/explore.webm' %}" type='video/webm' /> -->
                </video>
                <div class="video-overlay"></div>
            </div>
            
            
            
            <div class="container">
                <div class="row text-center">
                   <div class="col-12" style="color: aliceblue" id="breve">               
                      <p>Breve em Porto Alegre!</p>
                    </div>
                  </div>
            </div>
            
         </div>
            </div>
  
     </div>
    </div>  
    
    <!--footer-->
    
    <footer>
        <div class="container-fluid">
            
        </div>
    </footer>
    
    <!-- JS -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap.min.js" %}"></script>
    
    
    <script>
        function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(Date.parse(new Date()) + 31 * 24 * 60 * 60 * 1000);
initializeClock('clockdiv', deadline);
    
    </script>

</body>
</html>
