{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming soon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>amazura massagem | Coming soon</title>
    
    <!--css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/coming.css" %}">

</head>
<body>
   
   
   <!--navbar item -->
    <nav class="navbar navbar-light fixed-top" >
        <div class="container" >
            <a href="" class="navbar-brand">
                <img src="{% static "img/logo4.png" %}" alt="">
            </a>
            
        </div>
    </nav>
   
    
    <div class="container h-100">
        <div class="row row h-100 align-items-center justify-content-center">
           <div class="col-12">
               <div class="text-center">
                   <h3 style="color: aliceblue;">A Qualidade Começa na Sua Escolha ...</h3>
                   <h2> <span >AMAZURA</span> MASSAGEM</h2>
               </div>
           
                <div class="coming text-center">
                    <div class="coming-timer">
                       
                        <ul countdown data-date="Nov 05 2018 08:30:00">
                            <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                            <li class="bg-dark text-white"><span class="days" data-days>00</span>d</li>
                            <li class="bg-dark text-white"><span class="hours" data-hours>00</span>h</li>
                            <li class="bg-dark text-white"><span class="minutes" data-minutes>00</span>m</li>
                            <li class="bg-dark text-white"><span class="seconds" data-seconds>00</span>s</li>
                        </ul>
                        
                    </div>
                    
                    <div class="info m-xs-top-15">
                        <p class="text-white">Estamos contratando !</p>
                           <a href="https://api.whatsapp.com/send?phone=5551994411290&text=Quero%20trabalhar%20com%20voc%C3%AAs." style="; color:#fff;">
                           <i class="fab fa-whatsapp-square"></i> (51) 994-411-290
                           </a>
                            <!--<form action="#" method="post">
                                <input type="email" name="email" id="mail" placeholder="Valid E-mail Address" required="">
                                <button type="submit">Subscribe</button>
                            </form> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    <!--video -->

            <div class="video-wrap">
                <video poster="{% static "images/videos/explore-poster.jpg" %}" preload muted autoplay loop id="video-background">
                <source src="{% static "images/videos/vid2.mp4" %}" type='video/mp4' />
                <!-- <source src='videos/explore.webm' type='video/webm' /> -->
                </video>
                <div class="video-overlay"></div>
            </div>
    
    
    
    
    
    <!-- JS -->
   <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/countdown.min.js" %}"></script>

    
    
    
</body>
</html>
