
{% extends "amazura/base.html" %}


{% block content %}
    <!-- mapa -->

    <div id="mapa">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1>Localização</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.924376989279!2d-51.1966731843107!3d-30.039027337986436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519783070e92c1d%3A0xed89623963bf6090!2sAv.+Neusa+Goulart+Brizola%2C+Porto+Alegre+-+RS%2C+90460-230!5e0!3m2!1sen!2sbr!4v1543185836869" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                    

                </div>

            </div>

        </div>
    </div>

    <!-- end mapa -->


    <!-- trabalhe -->
    <div id="trabalhe">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title text-center">TRABALHE CONOSCO</h5>
                            <p class="card-text">Você é uma profissional dedicada em busca de uma oportunidade, <br>
                                Estamos contratando meninas de +18 anos para trabalhar conosco
                            </p>

                            <a href="https://api.whatsapp.com/send?phone=5551994411290&text=Quero%20trabalhar%20com%20voc%C3%AAs." class="btn btn btn-outline-dark  btn-block" target="_blank" style="margin-top: 2rem;">TRABALHE CONOSCO</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end trabalhe -->

{% endblock %}

