{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming soon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>amazura -- Coming soon</title>
    
    <!--css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/coming.css" %}">
</head>
<body>
   
   
   <!--navbar item -->
    <nav class="navbar navbar-light fixed-top" >
        <div class="container" >
            <a href="/inicio" class="navbar-brand">
                <img src="{% static "img/logo4.png" %}" alt="">
            </a>
            
        </div>
    </nav>
   
    
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
           <div class="col-12">
               <div class="headline text-center" style="color: white;">
                   
                   <h2> ALGO DEU ERRADO...</h2>
                   <h5>VOLTE AO INICIO E TENTE NOVAMENTE</h5>
                   
                   <a href="/inicio" class="btn btn-warning btn-lg">Volte ao início</a>
               </div>
           
            </div>
        </div>
    </div>
    
    
    <!--video -->

            <div class="video-wrap">
                <video poster='/media/videos/explore-poster.jpg' preload muted autoplay loop id="video-background">
                <source src='/media/videos/vid2.mp4' type='video/mp4' />
                <!-- <source src='videos/explore.webm' type='video/webm' /> -->
                </video>
                <div class="video-overlay"></div>
            </div>
    
    
    
    
    
    <!-- JS -->
   <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/countdown.min.js" %}"></script>
    
    
    
</body>
</html>