{% extends "amazura/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- main page -->

    <div id="main" class="d-flex align-items-center justify-content-center">
        <div id="layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div id="headline" class="text-center">
                        <h1>A Qualidade Começa na Sua Escolha ...</h1>
                        <a href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%2C%20Eu%20quero%20agendar%20uma%20sess%C3%A3o." class="btn btn-lg btn-outline-warning" target="_blank">Agende sua sessão</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="seta" class="text-center">
            <a href="#teura" class="page-scroll"><i class="fas fa-angle-down"></i></a>
        </div>
    </div>

    <!-- end main page -->

    <!--  terapeutas page -->
    <div id="teura" style="padding-bottom: 0rem;">
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3 text-center">
                    <h1>Nossas Terapeutas</h1>
                    <p>As Melhores Profissionais para sua satisfação.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">

                <!-- Alice Bueno -->
                <div class=" design col-md-4 col-sm-6 col-lg-3 mb30  pt-2">
                    <div class="work-card">
                        <img src="{% static "images/alice_bueno/alice_Bueno_1.png" %}" alt="" class="img-fluid">
                        <div class="work-overlay">
                            <div class="overlay-content">
                                <div>
                                    <h4>Alice Bueno</h4>
                                    <em>Idade: 20 anos</em> <br>
                                    <em>Altura: 1,54 m</em> <br>
                                    <em>Peso: 53 kg</em>

                                </div>
                                <a class="strip" href="{% static "images/alice_bueno/alice_Bueno_1.png" %}" data-lightbox="portfolio" data-title="Alice Bueno" title="View" data-strip-caption="Alice Bueno" data-strip-group="Alice_Bueno"><i class="ti-zoom-in"></i></a>

                                <a href="#" data-toggle="modal" data-target="#Alice_Bueno"><i class="ti-fullscreen"></i></a>

                                <a class="gallery strip" href="{% static "images/alice_bueno/alice_Bueno_1.png" %}" data-lightbox="portfolio" data-title="Alice Bueno" title="View" data-strip-caption="Alice Bueno" data-strip-group="Alice_Bueno"></a>
                                <a class="gallery strip" href="{% static "images/alice_bueno/alice_Bueno_3.png" %}" data-lightbox="portfolio" data-title="Alice Bueno" title="View" data-strip-caption="Alice Bueno" data-strip-group="Alice_Bueno"></a>
                                <a class="gallery strip" href="{% static "images/alice_bueno/alice_Bueno_4.png" %}" data-lightbox="portfolio" data-title="Alice Bueno" title="View" data-strip-caption="Alice Bueno" data-strip-group="Alice_Bueno"></a>
                                <a class="gallery strip" href="{% static "images/alice_bueno/alice_Bueno_5.png" %}" data-lightbox="portfolio" data-title="Alice Bueno" title="View" data-strip-caption="Alice Bueno" data-strip-group="Alice_Bueno"></a>




                            </div>
                        </div>
                    </div>
                </div>

                <!-- detalhe Alice_Bueno-->
                <div class="modal fade" id="Alice_Bueno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Alice Bueno</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <strong>• Idade:</strong> 20 anos <br>
                                <strong>• Altura:</strong> 1,54 m <br>
                                <strong>• Peso:</strong> 53 kg <br>


                                <br>
                                <strong>Especialidades: </strong> <br>

                                <p>
                                    • <strong> Massagem tântrica </strong> <br>
                                    • <strong> Massagem Nuru </strong> <br>
                                    • <strong> Massagem Tailandesa </strong> <br>
                                    • <strong> Massagem Relaxante </strong> <br>
                                </p>

                                <strong>Descrição: </strong> <br>
                                <p>
                                    Uma linda terapeuta , estilo mignon, toda natural.
                                    Cabelo compridos castanho escuro, com mãos macias e toques intensos, atendimento com carinho e sem pressa, venha se surpreender.
                                </p>

                            </div>
                            <div class="modal-footer" style="background-color: #000;">
                                <button type="button" class="btn btn-lg btn-outline-danger mr-auto" data-dismiss="modal">Close</button>
                                <a href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%20Alice%20Bueno%2C%20Encontrei%20voc%C3%AA%20no%20site%20da%20amazura%20massagem%2C%20quero%20agendar%20uma%20sess%C3%A3o%20com%20voc%C3%AA." class="btn btn-lg btn-outline-warning" target="_blank">Agendar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end detalhe Alice_Bueno-->



                <!--end col-->


                <!-- inicio Luna_Bianchini -->

                <div class=" app col-md-4 col-sm-6 col-lg-3 mb30 pt-2">
                    <div class="work-card">
                        <img src="{% static "images/luna_bianchini/Luna_Bianchini_1.png" %}" alt="" class="img-fluid">
                        <div class="work-overlay">
                            <div class="overlay-content">
                                <div>
                                    <h4>Luna Bianchini</h4>
                                    <em>Idade: 19 anos</em> <br>
                                    <em>Altura: 1,57 m</em> <br>
                                    <em>Peso: 65 kg</em>

                                </div>
                                <a class="strip" href="{% static "images/luna_bianchini/Luna_Bianchini_1.png" %}" data-lightbox="portfolio" data-title="Luna Bianchini" title="View" data-strip-caption="Luna Bianchini" data-strip-group="Luna_Bianchini"><i class="ti-zoom-in"></i></a>

                                <a href="#" data-toggle="modal" data-target="#Luna_Bianchini"><i class="ti-fullscreen"></i></a>

                                <a class="gallery strip" href="{% static "images/luna_bianchini/Luna_Bianchini_2.png" %}" data-lightbox="portfolio" data-title="Luna Bianchini" title="View" data-strip-caption="Luna Bianchini" data-strip-group="Luna_Bianchini"></a>
                                <a class="gallery strip" href="{% static "images/luna_bianchini/Luna_Bianchini_3.png" %}" data-lightbox="portfolio" data-title="Luna Bianchini" title="View" data-strip-caption="Luna Bianchini" data-strip-group="Luna_Bianchini"></a>
                                <a class="gallery strip" href="{% static "images/luna_bianchini/Luna_Bianchini_4.png" %}" data-lightbox="portfolio" data-title="Luna Bianchini" title="View" data-strip-caption="Luna Bianchini" data-strip-group="Luna_Bianchini"></a>
                                <a class="gallery strip" href="{% static "images/luna_bianchini/Luna_Bianchini_5.png" %}" data-lightbox="portfolio" data-title="Luna Bianchini" title="View" data-strip-caption="Luna Bianchini" data-strip-group="Luna_Bianchini"></a>




                            </div>
                        </div>
                    </div>
                </div>


                <!-- detalhe luna_bianchini-->
                <div class="modal fade" id="Luna_Bianchini" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Luna Bianchini</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <strong>• Idade:</strong> 19 anos <br>
                                <strong>• Altura:</strong> 1,57 m <br>
                                <strong>• Peso:</strong> 65 kg <br>


                                <br>
                                <strong>Especialidades: </strong> <br>

                                <p>
                                    • <strong> Massagem tântrica </strong> <br>
                                    • <strong> Massagem Nuru </strong> <br>
                                    • <strong> Massagem Tailandesa </strong> <br>
                                    • <strong> Massagem Relaxante </strong> <br>
                                </p>

                                <strong>Descrição: </strong> <br>
                                <p>
                                    Lunna uma terapeuta ruiva, com olhos verdes, seios e bumbum grandes, cabelos compridos, sua massagem é unica, vai te levar ao nível máximo do prazer.
                                </p>

                            </div>
                            <div class="modal-footer" style="background-color: #000;">
                                <button type="button" class="btn btn-lg btn-outline-danger mr-auto" data-dismiss="modal">Close</button>
                                <a href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%20Lunna%20Bianchini%2C%20Encontrei%20voc%C3%AA%20no%20site%20da%20amazura%20massagem%2C%20quero%20agendar%20uma%20sess%C3%A3o%20com%20voc%C3%AA." class="btn btn-lg btn-outline-warning" target="_blank">Agendar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end detalhe luna_bianchini-->


                <!-- fim Luna_Bianchini -->
                <!--end col-->

            </div>


        </div>

    </div>


    <!-- end terapeutas page -->

{% endblock %}

