{% extends "amazura/base.html" %}
{% load staticfiles %}

{% block content %}


    <!-- mapa -->

    <div id="preco">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="p-4">VALORES DAS MASSAGENS</h1>
                </div>
            </div>
        </div>

      
      <div class="container">
        
        <div class="row">
            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>R$</span>180<b>/ 1 Hora</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3> Nuru</h3>
                        </div>
                        <ul>
                            <li>Massagem corpo-a-corpo</li>
                            <li>Elimina as tensões</li>
                            <li>Relaxamento muscular</li>
                            <li>Massagem Sensual Erótica</li>
                            <li>Maior prazer</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn btn-outline-warning" href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%2C%20Eu%20quero%20agendar%20uma%20sess%C3%A3o." target="_blank">AGENDAR HORÁRIO</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->

            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>R$</span>150<b>/ 1 Hora</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3> Tântrica</h3>
                        </div>
                        <ul>
                            <li>Tonifica os músculos genitais</li>
                            <li>Terapia do prazer</li>
                            <li>Expansão da energia orgástica</li>
                            <li>Estimula o corpo</li>
                            <li>Massagem Sensual Erótica</li>
                            <li>Melhora do humor</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn btn-outline-warning" href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%2C%20Eu%20quero%20agendar%20uma%20sess%C3%A3o." target="_blank">AGENDAR HORÁRIO</a>
                    </div>
                </div>
            </div>


            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>R$</span>150<b>/ 1 Hora</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3> Tailandesa</h3>
                        </div>
                        <ul>
                            <li>Relaxamento muscular</li>
                            <li>Melhora da resistência física</li>
                            <li>Melhora da respiração</li>
                            <li>Tonificação dos músculos</li>
                            <li>Liberação do estresse</li>
                            <li>Melhora da pele</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn btn-outline-warning" href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%2C%20Eu%20quero%20agendar%20uma%20sess%C3%A3o." target="_blank">AGENDAR HORÁRIO</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->
            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>R$</span>100<b>/ 30 min</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3> Ligam</h3>
                        </div>
                        <ul>
                            <li>Cura disfunções sexuais</li>
                            <li>Aumenta a força e o vigor genital </li>
                            <li>Controle da ereção </li>
                            <li>Educação corporal</li>
                        <!--    <li>Massagem Sensual</li>
                            <li>Massagistas Ligam</li> -->
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn btn-outline-warning" href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%2C%20Eu%20quero%20agendar%20uma%20sess%C3%A3o." target="_blank">AGENDAR HORÁRIO</a>
                    </div>
                </div>
            </div>


            
            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>R$</span>300<b>/ 1 Hora</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3> 4 Hands</h3>
                        </div>
                        <ul>
                            <li>Alivia o cansaço físico e mental</li>
                            <li>Estimula a circulação</li>
                            <li>Elimina o stress</li>
                            <li>4 Mãos por todo o Corpo</li>
                            <li>Elimina dores</li>
                            <li>Duas Massagistas</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn btn-outline-warning" href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%2C%20Eu%20quero%20agendar%20uma%20sess%C3%A3o." target="_blank">AGENDAR HORÁRIO</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->


            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>R$</span>300<b>/ 1 hora 15min</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3> Tântrica p/ Casal</h3>
                        </div>
                        <ul>
                            <li>Traz energia para vida diária  a dois</li>
                            <li>Ajuda a sair da rotina</li>
                            <li>Renova e regenera</li>
                            <li>Incentiva a recuperação da relação</li>
                            <li>Terapia do prazer</li>
                            <li>Expansão da energia orgástica</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn btn-outline-warning" href="https://api.whatsapp.com/send?phone=5551993790509&text=Ol%C3%A1%2C%20Eu%20quero%20agendar%20uma%20sess%C3%A3o." target="_blank">AGENDAR HORÁRIO</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->



        </div>
    </div>
      
      
    </div>

    <!-- end mapa -->

{% endblock %}